# lab_01
pillow
numpy
insightface
onnxruntime

# lab_02
torchvision
scikit-learn
tqdm
pandas
matplotlib

# lab_03
seaborn
#google.colab import files
# google.colab.output import eval_js
ultralytics

# lab_04
transformers

# lab_05
# lab_06
SimpleITK
nibabel
scikit-image
plotly
ipywidgets
torchmetrics
termcolor


# lab_07
keras

# lab_08